	*{
		margin: 0;
		padding: 0;		
		text-decoration: none;
		font-family: Verdana, sans-serif;		
		color: #ffffff;
	}
	
		 /* фон */
	body{
		background-color: #ffffff;
	}
	
		/* меню */
	.LeftSection{
		background-color: #91969c;
		width: 300px;
		height: 100%;
		position: fixed;
		z-index: 1;
	    text-transform: uppercase;	   
	 }
	  
	.LeftSection img {
	  	display: block;
		margin: auto;
	}
		
	img#search {
		width: 200px;
		padding-top: 40px;	
	}
	
	.Navbar {
		padding-top: 250px;	
	}
	
	.Navbar li {
		display: block;
		font-size: 20px;
		text-align: left;
		padding: 3px 40px;
	}
	
		a:hover {
    text-decoration: underline;
	}
	
	img#logo {
		width: 100px;
		padding-top: 40px;	
	}
	
	.RightSection{		
		position: fixed;
		top: 0;
		right: 0;
		color: #000000;
	}
	
	.RightSection img{
		padding-top: 10px; 
		padding-right: 130px;
		height: 650px;
	}		